<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a96jsa.chronos_app">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/customTheme">
        <activity
            android:name=".MainScreen"
            android:label="@string/app_name"
            android:theme="@style/customTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Customize"
            android:label="@string/app_name"
            android:theme="@style/customTheme" />
        <activity
            android:name=".History"
            android:label="@string/app_name"
            android:theme="@style/customTheme" />
        <activity
            android:name=".ManageCategories"
            android:label="@string/app_name"
            android:theme="@style/customTheme" />
        <activity
            android:name=".IndividualStats"
            android:label="@string/app_name"
            android:theme="@style/customTheme" />
        <activity
            android:name=".EditHistory"
            android:label="@string/app_name"
            android:theme="@style/customTheme" />
        <activity
            android:name=".MainStats"
            android:label="@string/app_name"
            android:theme="@style/customTheme" />
        <activity
            android:name=".ManageActivities"
            android:label="@string/app_name"
            android:theme="@style/customTheme" />
        <activity
            android:name=".ActivityHistory"
            android:label="@string/app_name"
            android:theme="@style/customTheme" />
    </application>

</manifest>